@charset "UTF-8";

body{
    background-color:rgb(234, 182, 255) ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;}
    
    h1 {
        color: rgb(88, 127, 255);
        background-color: rgb(226, 244, 255);
    }
     h2 {
         color: rgb(174, 61, 255);
     }
    
    p{
        text-align: justify;
    }
